

<form [formGroup]="form">
  <div class="form-group" >
        <label for="name" > Emp Name </label>
        <input
          formControlName="name"
          id="name"
          type="text"
          class="form-control">
  </div>
  <div class="form-group" >
    <label for="designation" > Emp designation</label>
    <input
      formControlName="designation"
      id="designation"
      type="text"
      class="form-control">
  </div>
  <div class="form-group" >
    <label for="mobileNo" > Emp mobileNo </label>
    <input
      formControlName="mobileNo"
      id="mobileNo"
      type="number"
      class="form-control">
  </div> 
  <div class="form-group" >
    <label for="email" > Emp email </label>
    <input
      formControlName="email"
      id="email"
      type="email"
      class="form-control">
  </div>
  <div class="form-group" >
  <label for="gender" > Emp gender </label>
  <input
    formControlName="gender"
    id="gender"
    type="text"
    class="form-control">
</div>
<div class="form-group" >
  <label for="password" > Emp password </label>
  <input
    formControlName="password"
    id="password"
    type="password"
    class="form-control">
</div>

  <button class="btn btn-primary" (click)="createEmp()" >Submit </button>


</form>