<div class="container py-5">
  <div class="row">
      <div class="col-md-12"> 
          <div class="row">
             <div class="col-md-6 mx-auto">
                <!-- form card login -->
                <div class="card rounded-0">
                    <div class="card-header">
                          <h3 class="mb-0">Register</h3>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="form">
                          <div class="form-group" >
                                <label for="name" > Name </label>
                                <input
                                  formControlName="name"
                                  id="name"
                                  type="text"
                                  class="form-control"
                                  (change)="print()"
                                >
                          </div>
                          <div class="alert alert-danger" *ngIf="form.get('name').touched && form.get('name').invalid">
                            Invalid Name
                          </div>

                          <div class="form-group" >
                            <label for="designation" >Designation</label>
                            <select
                              formControlName="designation"
                              id="designation"
                              type="text"
                              placeholder="Designation"
                              class="form-control"
                              (change)="print()"
                            
                            >
                            <option value="Dev" >Dev</option>
                            <option value="Dev" >DevLead</option>
                            <option value="Dev" >Tester</option>
                            <option value="Dev" >Test Lead</option>
                            <option value="Dev" >Consultant</option>
                            <option value="Dev" >Sr.Consultant</option>
                            <option value="Dev" >Trainee</option>
                            <option value="Dev" >Product Manager</option>
                            <option value="Dev" >SEO Analyst</option>
                            <option value="Dev" >Business Analyst</option>
                            <option value="Dev" >Digital Marketing Executive</option>
                            <option value="Dev" >Digital Marketing Manager</option>
                            <option value="Dev" >CEO</option>
                            <option value="Dev" >HR</option>
                            </select>
                          </div>
                          <div class="alert alert-danger" *ngIf="form.get('designation').touched && form.get('designation').invalid">
                              Invalid Designation
                            </div>
                          <div class="form-group" >
                            <label for="mobileNo" > Mobile Number </label>
                            <input
                              formControlName="mobileNo"
                              id="mobileNo"
                              minlength="10"
                              maxlength="10"
                              type="number"
                              class="form-control"
                              (change)="print()"
                            >
                          </div> 
                          <div class="alert alert-danger" *ngIf="form.get('mobileNo').touched && form.get('mobileNo').invalid">
                              Invalid Mobile Number
                            </div>
                          <div class="form-group" >
                            <label for="email" > Email </label>
                            <input
                              formControlName="email"
                              id="email"
                              type="email"
                              class="form-control">
                              
                          </div>
                          <div class="alert alert-danger" *ngIf="form.get('email').touched && form.get('email').invalid">
                              Invalid Email
                            </div>
                            <div>
                              Gender
                            </div>
                          <div class="form-group "  >
                              <div class="row">
                            <div class="col-sm-2">
                                        <input
                                          formControlName="gender"
                                          id="gender"
                                          
                                          type="radio"
                                          value="Male"
                                          (change)="print()"
                                        >
                                        <label for="gender" > Male </label>
                            </div>
                            <div class="col-sm-3">
                                        <input
                                          formControlName="gender"

                                          type="radio"
                                          value="Female"
                                          (change)="print()"
                                        >
                                        <label for="gender" >Female</label>
                            </div>
                          </div>         
                          </div>
                        <div class="form-group" >
                          <label for="password" > Password </label>
                          <input
                            formControlName="password"
                            id="password"
                            type="password"
                            class="form-control"
                            minlength="6"
                            maxlength="12"
                            #password
                            (change)="print()"
                          >
                          <div class="alert alert-danger" *ngIf="form.get('password').touched && form.get('password').invalid">
                            
                              Invalid Password

                          </div>
                            <button class="btn btn-primary" (click)="createEmp()" >Submit </button>

                          </div>
                        </form>

                    </div>
                  <!--/card-block-->
                  </div>
                <!-- /form card login -->

                </div>


            </div>
            <!--/row-->

        </div>
        <!--/col-->
    </div>
    <!--/row-->
</div>
<!--/container-->






