<div class="container py-5">
    <div class="row">
        <div class="col-md-12"> 
            <div class="row">
               <div class="col-md-6 mx-auto">
                  <!-- form card login -->
                  <div class="card rounded-0">
                      <div class="card-header">
                            <h3 class="mb-0">Welcome </h3>
                      </div>
                      <div class="card-body">
         
              <h1> Office Expense Manager </h1>
             
            </div>
            <!--/card-block-->
            </div>
          <!-- /form card login -->

          </div>


      </div>
      <!--/row-->

  </div>
  <!--/col-->
</div>
<!--/row-->
</div>
<!--/container-->






